    <header class="header">
        <form class="new-blog">
            <label>Title</label>
            <input type="text" class="title">

            <label>Blog</label>
            <input type="text" class="blog">

            <button class="submit">Submit</button>
        </form>
    </header>
