<div class="container">
<h3>Please Fill Out</h3>
<form class="new-entry">
    <label>First Name:</label>
    <input type="text" class="firstname">

    <label>Last Name:</label>
    <input type="text" class="lastname">

    <label>Address:</label>
    <input type="text" class="address">
    <label>Phone Number:</label>
    <input type="text" class="phonenumber">

    <button class="submit">Submit</button>
</form>
</div>
