<section>
    <header>
        <p>{{ title }}</p>
    </header>
    <section>
        <p>{{ blog }}</p>
    </section>
    <a href="#{{ _id }}/edit"><button class="editbutton">Edit</button></a>
</section>
