<form class="form-view">
    <input value="{{ title }}">
    <textarea class="blog" cols="60" rows="10" >{{ blog }}</textarea>
    <button class="save">Save</button>
    <button class="delete">Delete</button>
</form>
