<form>
    <label>URL:</label><input type="text" class="url">
    <label>Title:</label><input type="text" class="title">
    <label>Tag:</label><input type="text" class="tag">
    <input type="submit" value="Submit">
</form>
