<form>
    <label>Title</label><input type="text" class="title">
    <label>Body</label>
        <textarea name="text" class="body" cols="60" rows="10"></textarea>
    <input type="submit" value="Create">
</form>
